.category-container {
  display: flex;
  /* align items in a row */
  overflow-x: auto;
  /* enable horizontal scroll if overflow */
  gap: 15px;
  /* space between items */
  padding: 10px;
  white-space: nowrap;
  /* prevent wrapping to next line */
  background-color: #f5f5f5;

  /* Hide scrollbar */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
}

.category-item {
  flex: 0 0 auto;
  /* prevent flex items from shrinking */
  padding: 10px 20px;
  background-color: #d43a0a;
  color: white;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  transition: background-color 0.3s;
}

.category-item:hover {
  background-color: #ff5722;
}